body {
    font-family: 'Inter', sans-serif;
}

html, body {
    overflow-x: hidden;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 50px;
    margin-left: 30px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: rgba(60, 72, 88, 1);
    padding: 8px 12px;
    transition: 0.3s;
    letter-spacing: 0.5px;
}

nav ul li a:hover,
nav ul li a.active { 
    color: rgba(6, 102, 219, 1); /* Same color for hover and active state */
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Menu Items */
.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    margin-top: 10px;
}

header nav > ul > li:nth-child(4):hover > .dropdown-menu {
    margin-top: 20px;
}


.dropdown-menu::after {
    content: '';
    position: absolute;
    top: -10px; /* Position the arrow above the menu */
    left: 40%;
    transform: translateX(-50%); /* Center the arrow horizontally */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9; /* Color of the dropdown box */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style for the Community link */
.community {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(60, 72, 88, 1);
    padding: 10px 15px;
    margin-top: 1px;
    margin-left: -3px;
}

/* Arrow Icon */
.fas.fa-chevron-down {
    margin-left: 5px;
    font-size: 12px;
    margin-right: -15px;
}

header nav > ul > li:nth-child(4):hover > .fas.fa-chevron-down {
    margin-left: -15px;
}

/* Style for the items inside the dropdown */
.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: rgba(60, 72, 88, 1);
    display: block;
}


/* India Dropdown */
.india {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1px;
}

.flag {
    width: 15px;
    height: 10px;
}




.banner {
    width: 100%;
    height: 425px; /* Adjust height as needed */
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 60px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire section */
}


.testimonial-section {
    text-align: center;
    padding: 50px 0;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Small Title with Image */
.testimonial-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.testimonial-small-icon {
    width: 30px;
    height: auto;
}

.testimonial-small-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(60, 72, 88, 1);
}

/* Large Centered Title */
.testimonial-large-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}



/* Overall container */
.search-container {
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 40px; /* Space between search bar and dropdown */
    margin-left: 400px;
    margin-top: 0px;
}

/* Search Bar */
.search-bar {
    width: 560px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid rgba(204, 204, 204, 1); /* Corrected border property */
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}


/* Search Icon */
.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Search Input */
.search-input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    color: rgb(76, 76, 76);
}

/* Search Button */
.search-button {
    font-family: 'Inter', sans-serif;
    background: rgba(6, 102, 219, 1);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.recent-container {
    position: relative;
}

.recent-button {
    font-family: 'Inter', sans-serif;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(60, 72, 88, 1);
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    width: 110px;
    height: 45px;
    letter-spacing: 0.4px;
}


/* Dropdown Menu */
.blog-posts-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100px;
    height: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-top: 5px;
}

.dropdown-option {
    padding: 10px 15px;
    border: none;
    background-color: white;
    text-align: left;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: white;
}

/* Hover effect to show dropdown */
.recent-button:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}



.blogcontainer {
    width: 100%;
    padding-top: -20px;
    padding-bottom: 50px;
}

.latest-video-small-icon {
    width: 30px;
    height: auto;

}

/* Blog Section */
.blog-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
}

/* Blog Grid */
.blog-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

/* Blog Item */
.blog-item {
    width: 48%;
    text-align: center;
}

/* Blog Image Container */
.blog-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Blog Image */
.blog-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


/* Blog Post Title */
.blog-post-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    text-align: left;
    color: rgba(60, 72, 88, 1);
}

/* Blog Post Description */
.blog-post-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(132, 146, 166, 1);
    max-width: 100%;
    margin: 0 auto 10px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 40px;
}

/* Read More Button */
.blog-read-more {
    font-size: 14px;
    background-color: rgba(6, 102, 219, 1);
    color: white;
    padding: 10px 20px;
    border-radius:8px;
    text-decoration: none;
    font-weight: 500;
    margin-left: -450px;
}



.blog-icons-container {
    display: flex;
    justify-content: space-between;
    width: 460px;
    height: 20px;
    align-items: center;
    margin-top: 25px;
    margin-left: 5px;
}

.blog-icon {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
}

.icon {
    width: 14px;
    height: 14px;
}

.icon-description {
    font-size: 14px;
    font-weight: 500;
    color: rgba(132, 146, 166, 1);
    line-height: 14px;
}



.footer-section {
    background-color: rgba(60, 72, 88, 1); /* Dark Grey Background */
    text-align: center;
    padding: 40px 0;
    width: 100vw;
    margin-left: 0px;
    margin-top: -90px;
}

/* Follow Us Text */
.footer-follow-text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 15px;
}

/* Social Media Icons */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-icon img {
    width: 50px;
    height: auto;
    margin-top: 14px;
    margin-right: 20px;
    margin-left: 14px;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
}

.footer-icon img:hover {
    background-color: rgb(11, 90, 187);
    border-radius: 7px;
}

/* Subscription Box */
.footer-subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 560px;
    height: 60px;
    border-radius: 40px;
    margin: 0 auto;
    overflow: hidden;
}

/* Email Input */
.footer-email-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    color: black;
}

/* Subscribe Button */
.footer-subscribe-btn {
    font-family: 'Inter', sans-serif;
    background-color: rgba(6, 102, 219, 1);
    color: white;
    border: none;
    padding: 15px 15px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 7px;
}

.footer-subscribe-btn:hover {
    background-color: #0056b3;
}


/* Footer Content (4 Vertical Parts) */
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 40px auto 0;
    text-align: left;
    margin-top: 40px;
}

/* Each Section */
.footer-part {
    width: 25%;
    color: white;
}

.footer-part:nth-child(2) p {
    font-size: 12px;
    color: white;
    margin-bottom: 8px;
    line-height: 1.6;
}

.footer-part:nth-child(3) p {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    line-height: 1.6;
}


/* Footer Logo */
.footer-logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

/* Description */
.footer-description {
    font-size: 12px;
    line-height: 25px;
}

/* Footer Headings */
.footer-heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* Footer Contact Items */
.footer-contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-contact-item img {
    width: 12px;
    height: auto;
    margin-bottom: 20px;
}
.footer-part:nth-child(4) p {
    font-size: 12px;
    color: white;
    margin-bottom: 20px;
    line-height: 1.6;
}


.footer-copyright {
    text-align: center;
    color: rgba(173, 181, 189, 1);
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: -10px;
}


.solid-hr {
    height: 1px; /* Thickness of the line */
    border: none;
    background-color: rgba(73, 80, 87, 1); /* Solid color (Change to any color) */
    margin-top: 60px;
}

.solid-hr1 {
    height: 1px; /* Thickness of the line */
    border: none;
    background-color: rgba(73, 80, 87, 1); /* Solid color (Change to any color) */
    margin-top: 60px;
}



.project-carousel-section {
    text-align: center;
    padding: 50px 0;
    align-items: center;
    margin-top: 150px;
}

/* Small Title with Image */
.project-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.project-small-icon {
    width: 30px;
    height: auto;
}

.project-small-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(60, 72, 88, 1);
}

/* Large Centered Title */
.project-large-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 1px;
    width: 70vw;
    margin-left: 200px;
    margin-top: 30px;
}

/* Carousel Wrapper */
.scrolling-carousel-wrapper {
    width: 80%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin-left: 170px;
}

/* Scrolling Carousel */
.scrolling-carousel {
    display: flex;
    animation: scrolling-animation 7s linear infinite;
}

/* Images */
.scrolling-carousel img {
    width: 100%;
    height: 250px; /* Adjust as needed */
    object-fit: cover;
}

/* Infinite Scrolling Animation */
@keyframes scrolling-animation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


.latest-video-section1 {
    text-align: center;
    padding: 50px 0;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Small Title with Image */
.latest-video-title-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 14px;
    margin-top: 50px;
}

.latest-video-small-icon1 {
    width: 30px;
    height: auto;

}

.latest-video-small-title1 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(60, 72, 88, 1);
}

/* Large Centered Title */
.latest-video-large-title1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 1px;
    margin-bottom: -100px;
    margin-top: 20px;
    width: 40%;
    margin-left: 370px;
}